body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

* {
    font-family: 'Inter', system-ui;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    width: 1400px;
    margin: 50px auto;
    padding: 40px;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}
