.header{
	padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
	&__wrapper{
		display: flex;
		justify-content: space-between;
        align-items: center;
	}
	&__cart{
		text-decoration: none;
		&__item{
			display: flex;
			align-items: center;
			font-size: 32px;
            margin: 0;
			color: #232323;
			text-decoration: none;
            .cart__rel{
                position: relative;
            }
			.cart__svg {
				position: relative;
                right:5px ;
				top: 0;
				width: 30px;
				height: 30px;
				margin-right: 10px;
				path {
					stroke: #232323;
					stroke-width: 1.9;
				}
                &__notification{
                    position: absolute;
                    animation: notification 1.5s ease-in-out 2;
                    top:-2px;
                    right: 8px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: #fe5f1e;
                }
			}
		}
	}
}

@keyframes notification {
    from { transform: scale(1)}
    50%{transform: scale(2) }
    to { transform: scale(1) }
}

